#enTime {
    margin-left: 0px !important;
    margin-right: 5px;
}
.topnews {
    float: right !important;
}
.leftNavOne {
    padding-right: 15px;
    padding-left: 0px !important;
}

.mainSwiper {
    padding-right: 0px !important;
}
.mostViewDay li {
    border-right: solid 3px #6d0606;
}
.mostViewDay li a {
    margin-right: 10px;
}
.lastSpecialNew li {
    border-right: solid 3px #6d0606;
}
.lastSpecialNew li a {
    margin-right: 10px;
}
.lastSpecialNew li > div {
    padding-right: 10px;
}
.textInLastSpecialNew {
    padding-right: 10px;
}

#lineAds {
    float: right !important;
}
